*.log
*.aux
main-blx.bib
main.bbl
main.blg
main.idx
main.ilg
main.ind
main.out
main.pdf
main.run.xml
main.synctex.gz
main.toc
main.upa
*.DS_Store
*gitignore~
*.Rapp.history
*~
Icon[^/]
\#*
*.dropbox
_README
*-deprecated*
*.Rhistory
OS4-201[89]-[01][0-9]-[0-3][0-9] [A-Z].pdf
main.synctex(busy)
.Rproj.user
